@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/brands.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/solid.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500');

:root {
  --font: #000;
  --button: #0ab464;
  --disabled: #ccc;
  --highlighted: #ff0080;
  --background: #fff;
  --background-highlighted: #eee;
  --background-highlighted-hover: #ddd;
}

* {
  color: var(--font);
  font-family: Roboto, sans-serif;
  font-weight: 300;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: 0;
}

button,
input {
  border-radius: .3rem;
  font-size: 1rem;
  line-height: 1.8rem;
  outline: none;
}

button {
  border: 1px solid var(--button);
  background-color: var(--button);
  padding: 0 1rem;
}

input {
  border: 1px solid var(--disabled);
  background-color: var(--background);
  padding: 0 1px 0 .3rem;
}

hr {
  border-color: var(--disabled);
  border-style: solid;
  border-width: 1px 0 0 0;
  margin: 1rem 0;
}

/* top bar */

nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0 0;
}

nav button,
nav span {
  color: var(--disabled);
  margin: 0 .5rem;
  transition: .5s all;
}

nav button:before,
nav span:before {
  color: var(--disabled);
  font-family: 'Font Awesome 5 Free';
  font-size: 1.3rem;
  font-weight: 900;
  margin: 0 .5rem 0 0;
  transition: .5s all;
  vertical-align: middle;
}

nav span:hover:before {
  color: var(--font);
}

nav span.time:before {
  content: '\f1da';
}

nav span.number:before {
  content: '\f0cb';
}

nav button {
  box-shadow: 0 2px var(--disabled);
  transition: none;
}

nav button:active {
  box-shadow: 0 0 var(--disabled);
  transform: translateY(2px);
}

nav span.refresh {
  color: var(--background);
  font-weight: 500;
}

nav span.refresh:before {
  color: var(--background);
  content: '\f01e';
}

nav span.now:hover {
  color: var(--font);
}

nav span.now:before {
  content: '\f017';
}

/* message */

div.message {
  background-color: var(--background-highlighted);
  border-radius: .5rem;
  margin: 1rem 0;
  padding: .5rem;
}

div.message:hover {
  background-color: var(--background-highlighted-hover);
}

div.message span {
  display: block;
}

div.message span:nth-child(2) {
  margin: .5rem 0;
}

div.message span:before {
  color: var(--highlighted);
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  margin: 0 .5rem 0 0;
}

div.message span.timestamp {
  color: var(--highlighted);
  font-size: .8rem;
}

div.message span.timestamp:before {
  content: '\f2f2';
}

div.message span.id {
  color: var(--highlighted);
  font-size: .8rem;
  text-align: right;
}

div.message span.id:before {
  content: '\f577';
}
